image: node

stages:
  - build
  - test
  - deploy staging
  - deploy production
  - production tests
  - cache

cache:
  policy: pull
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/


update cache:
  stage: cache
  cache: 
    policy: push
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  script:
    - npm install 
  only:
    - schedules



build website:
  stage: build
  script:
    - echo $CI_COMMIT_SHORT_SHA
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
    - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/" ./public/index.html
  artifacts:
    paths:
      - ./public
  except:
    - schedules


test artifact:
  
  image: alpine
  stage: test
  cache: {}
  script:
    - grep -q "gatsby" ./public/index.html
  except:
    - schedules


test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 10
    - curl "http://localhost:9000" | tac | tac | grep -q "Gatsby"
  except:
    - schedules



deploy staging:
  stage: deploy staging
  cache: {}
  script:
    - npm install --global surge
    - surge --project ./public --domain ssssssapsap-staging.surge.sh
  except:
    - schedules


  

deploy production:
  stage: deploy production
  cache: {}
  script:
    - npm install --global surge
    - surge --project ./public --domain ssssssapsap.surge.sh
  except:
    - schedules



production tests:
  cache: {}
  image: alpine
  stage: production tests
  script:
    - apk add --no-cache curl
    - curl "http://ssssssapsap.surge.sh/" | tac | tac | grep -q "Now go build something great."
    - curl "http://ssssssapsap.surge.sh/" | tac | tac | grep -q "$CI_COMMIT_SHORT_SHA"
  except:
    - schedules



    
    


