image: node

stages:
  - build
  - test
  - deploy
  - deployment tests


build website:
  stage: build
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
  artifacts:
    paths:
      - ./public


test artifact:
  image: alpine
  stage: test
  script:
    - grep -q "gatsby" ./public/index.html


test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 10
    - curl "http://localhost:9000" | tac | tac | grep -q "Gatsby"

deploy to surge:
  stage: deploy
  script:
    - npm install --global surge
    - surge --project ./public --domain ssssssapsap.surge.sh


test deployment:
  stage: deployment tests
  script:
    curl "http://ssssssapsap.surge.sh/" | tac | tac | grep -q "Now go build something great."


